<% characters.forEach(function(character) { %>
<div class="container block max-container">
  <div>
    <div>
      <ul>
        <li>
          <h3 class="c-name"><%= character.name %></h3>
        </li>
        <li>
          <p class="race"><%= character.race %></p>
        </li>
        <li>
          <p class="class"><%= character.archetype %></p>
        </li>
      </ul>
      </span>
    </div>
  </div>
</div>
<% }) %>