<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>
    <nav class="container">
      <ul>
        <li class="btn">
          <a href="/">MMO Character Planner App</a>
        </li>
        <% if (user) { %>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/logout">Log Out</a></li>
        <% } else { %>
        <li><a href="/auth/google">Login with Google</a></li>
        <% } %>
      </ul>
    </nav>
  </header>