<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <section>
    <nav>
      <div class="flex-between">
        <a href="/">MMO Character Planner App</a>
        <ul class="nav-right">
          <% if (user) { %>
          <li><a href="/characters">Characters</a></li>
          <li><a href="/logout">Log Out</a></li>
          <% } else { %>
          <li><a href="/auth/google">Login with Google</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </section>