<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="content-wrap">
    <header>
      <nav class="container">
        <a class="btn logo" href="/">MMO Planning App</a>
        <ul>
          <li></li>
          <% if (user) { %>
          <li><a href="/users/<%= user._id %>">Profile</a></li>
          <li><a href="/users/<%= user._id %>/characters">Characters</a></li>
          <li><a href="/logout">Log Out</a></li>
          <% } else { %>
          <li><a href="/auth/google">Login with Google</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <section class="hero max-container"></section>