body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: rgb(60,60,60);
  /* color: white; */
}

* {
  color: white;
}

h3 {
  font-size: 2rem;
}

.content-wrap {
  max-width: 1400px;
  margin: 0 auto;
}
/* Buttons  */
.btn {
  background-color: rgb(60,60,60);
  padding: 1rem 2rem 1rem 1.7rem;
}

.btn-margin-bottom {
  margin-bottom: 10rem;
}

.btn:hover {
  background-color: white;
  color: rgb(60,60,60);
  cursor: pointer;
}

.btn:hover a {
  color: black;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

/* NAV */

.hero {
  background-image: url("../images/asheshero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 550px;
  overflow: hidden;
  width: 100%;
  margin-bottom: -16px;
}

.block {
  background-image: url("../images/Ashes-of-Creation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.block::before {
  content: "";
  display: block;
  height: 0;
  padding-top: 14%;
}

.block:nth-child(2) {
  background-image: url("../images/Ashes_of_Creation_concept_art_1.jpg");
}

.block:nth-child(3) {
  background-image: url("../images/Ashes_of_Creation_screenshot3.jpg");
}

.character-creation{
  background-image: url("../images/ashes5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-flex {
  display: flex;
  margin-top: 10rem;
}

.character-creation::before {
  content: "";
  display: block;
  height: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 5rem;
  padding-top: 0.8rem;
  z-index: 999;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 830px) {
  nav ul {
    display: none;
  }
}

nav li {
  padding-right: 23px;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  color: #1dafed;
}

nav li:first-child {
  margin-right: 24px;
  margin-left: 24px;
}

select {
  display: block;
}

li {
  list-style-type: none;
}

section.content .container{
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
}