/* Variables */
:root{
  --primary: rgb(60,60,60);
  --light-blue: #1dafed;
  --yellow: #FFC636;
  --white: #ffffff;
  --black: black;
}

/* Reset */
body,p,a,ul,li{
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* Default  */
body {
  font-family: 'Recursive', sans-serif;
  background: var(--black);
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  background: transparent;
}

h3 {
  font-size: 2rem;
}

.max-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

/* Buttons  */
.btn {
  background-color: var(--primary);
  padding: 1rem 2rem 1rem 1.7rem;
  color: white;
}

.logo {
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 700;
    font-size: 1.2rem;
}

.btn-margin-bottom {
  margin-bottom: 10rem;
}

.btn:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

.btn:hover a {
  color: black;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
}

/* .button{
  background: none;
  background-color: var(--primary);
  padding: 1rem 2rem 1rem 1.7rem;
  border: 2px solid #FFC636;
  color: #FFC636;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
  font-size: 1em;
} */
.class {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.c-name {
  color: var(--yellow);
  margin-bottom: 1rem;
}

.delete-form {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* NAV */

.hero {
  background-image: url("../images/asheshero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: -16px;
}

.hero::before {
  content: "";
  display: block;
  height: 0;
  padding-top: 60%;
}

/* Cards  */
.block {
  background-image: url("../images/Ashes-of-Creation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.block::before {
  content: "";
  display: block;
  height: 0;
}

.block:nth-child(2) {
  background-image: url("../images/Ashes_of_Creation_concept_art_1.jpg");
}

.block:nth-child(3) {
  background-image: url("../images/Ashes_of_Creation_screenshot3.jpg");
}

.block:nth-child(4) {
  background-image: url("../images/Ashes_of_Creation_concept_art_2.jpg");
}

.block:nth-child(5) {
  background-image: url("../images/Ashes_of_Creation_screenshot12.jpg");
}

.block:nth-child(6) {
  background-image: url("../images/ashes5.png");
}

.alternative {
  display: flex;
  flex-wrap: wrap;
}

.alternative .block {
  background-image: url(../images/cleric.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% / 4);
  flex-wrap: wrap;
  height: 50rem;
  transition: all .3s ease-in-out;
}

.alternative .block:hover {
  transform: scale(1.1);
  z-index: 999;
}

.alternative .c-name {
  color: white;
  mix-blend-mode: difference;
}

.delete {
  color: red;
  font-weight: 900;
  width: 2.5rem;
  font-size: 1rem;
}

.alternative .block::before {
  content: "";
  display: block;
  height: 0;
}

.alternative .block:nth-child(2) {
  background-image: url("../images/tank.png");
}

.alternative .block:nth-child(3) {
  background-image: url("../images/ranger.png");
}

.alternative .block:nth-child(4) {
  background-image: url("../images/mage.png");
}

.alternative .block:nth-child(5) {
  background-image: url("../images/cleric.png");
}

.alternative .block:nth-child(6) {
  background-image: url("../images/ashes5.png");
}

.character-creation{
  background-image: url("../images/ashes5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile { 
  background-image: url("../images/ashes5.png");
}

.content-flex {
  display: flex;
  margin-top: 10rem;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.character-creation::before {
  content: "";
  display: block;
  height: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 5rem;
  padding-top: 0.8rem;
  z-index: 999;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  position: fixed;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav li {
  padding-right: 23px;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  color: var(--yellow);
}

nav .btn {
  margin-left: 2.4rem;
}

select {
  display: block;
}

li {
  list-style-type: none;
}

section.content .container{
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
}

/* input,textarea{
  background: rgba(255,255,255,0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893D8;
  color: black;
  font-size: 1em;
} */

footer{
  padding: 30px 20px;
  background-color:black;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Mobile styles */

/* Small tablet styles */
@media screen and (min-width: 620px) {

}

/* Large tablet & laptop styles */
@media screen and (min-width: 950px) {
  .site-nav{
    padding: 0 20px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1280px) {
  .site-nav{
    padding: 0;
  }
}