<%- include('../partials/header') %>
<section class="content">
  <div class="container">
    <div class="row">
      <div>
        <% users.forEach(function(user) { %>
        <% user.characters.forEach(function(character) { %>
        <ul>
          <li>
            <h3><%= character.name %></h3>
          </li>
          <li>
            <p><%= character.archetype %></p>
          </li>
        </ul>
        </span>
        <% }) %>
        <% }) %>
      </div>
    </div>
  </div>

</section>

<%- include('../partials/footer') %>