<%- include('../partials/header') %>

<section class="hero"></section>

<% users.forEach(function(user) { %>
<section class="content">
  <a href="/users/<%= user._id %>">
    <h3><%= user.name %></h3>
  </a>
</section>
<% }) %>

<%- include('../partials/footer') %>