<%- include('../partials/header') %>

<section class="flights hero">
  <div class="container">
    <div class="text-left">
      <h1>All Characters</h1>
    </div>
    <table>
      <thead>
        <th>Name</th>
        <th>Race</th>
        <th>Archetype</th>
        <th>Gender</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="btn">
      <a href="/characters/new">Add a new Character</a>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>