<%- include('../partials/header') %>

<section class="content">
  <div class="container character-creation">
    <% if (user) { %>
    <h2>Create a new Character</h2>
    <section>
      <div class="container">
        <a href="https://ashesofcreation.wiki/Races">Link to the different races</a>
        <form action="/users/<%= user._id %>/characters" method="POST">
          <label>name:</label>
          <input type="text" name="name" />
          <div>
            <label>Race:</label>
            <select name="race">
              <option value="Kaelar">Kaelar</option>
              <option value="D端nir">D端nir</option>
              <option value="Ren'Kai">Ren'Kai</option>
              <option value="Empyrean">Empyrean</option>
              <option value="Vaelune">Vaelune</option>
              <option value="Vek">Vek</option>
              <option value="Nik端a">Nik端a</option>
              <option value="Py'Rai">Py'Rai</option>
              <option value="Tulnar">Tulnar</option>
            </select>
            <label>Archetype:</label>
            <select name="archetype">
              <option value="Bard">Bard</option>
              <option value="Cleric">Cleric</option>`
              <option value="Fighter">Fighter</option>
              <option value="Mage">Mage</option>
              <option value="Ranger">Ranger</option>
              <option value="Rogue">Rogue</option>
              <option value="Summoner">Summoner</option>
              <option value="Tank">Tank</option>
            </select>
            <label>Gender:</label>
            <select name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <input type="submit" value="Create Character" />
          </div>
        </form>
      </div>
    </section>
    <% } else { %>
    <section>
      <h2>You need to login</h2>
    </section>
    <% } %>
  </div>
</section>

<%- include('../partials/footer') %>